<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="\innlog\nloginner.txt">

  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>


  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target name="allfile" xsi:type="File" fileName="${basedir}/logs/all/nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target name="visitAudit" xsi:type="File" fileName="${basedir}/logs/visitAudit/nlog-visit-${shortdate}.log"
         layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}| " />

    <target name="unHandledEx" xsi:type="File" fileName="${basedir}/logs/unHandledEx/nlog-unhandled-${shortdate}.log"
         layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}|" />
    <target xsi:type="Null" name="blackhole" />

    <target name="mongoException" xsi:type="Mongo" includeDefaults="false" connectionString="mongodb://127.0.0.1"  collectionName="exceptionlog" databaseName="logging"  cappedCollectionSize="26214400">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="ThreadId" layout="${threadid}" />
      <field name="ThreadName" layout="${threadName}" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
    </target>

    <target name="mongoVisit" xsi:type="Mongo" includeDefaults="false" connectionString="mongodb://127.0.0.1" collectionName="visitlog" databaseName="logging" cappedCollectionSize="26214400">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="ThreadId" layout="${threadid}" />
      <field name="ThreadName" layout="${threadName}" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
      <field name="Url" layout="${aspnet-request-url}" />
      <field name="Action" layout="${aspnet-mvc-action}" />
    </target>

    <target xsi:type="Mongo"
        name="mongoOperate"
        includeDefaults="false"
        connectionString="mongodb://127.0.0.1"
        collectionName="CustomLog"
        databaseName="Logging"
        cappedCollectionSize="26214400">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="ThreadName" layout="${threadname}" />
      <field name="ProcessID" layout="${processid}" bsonType="Int32" />
      <field name="ProcessName" layout="${processname:fullName=true}" />
      <field name="UserName" layout="${windows-identity}" />
    </target>


    <target  name="mongoOperate" xsi:type="Mongo" includeDefaults="false" connectionString="mongodb://127.0.0.1" collectionName="operatelog" databaseName="logging" cappedCollectionSize="26214400">
      <field name="Id" layout="${var:Id}" bsonType="int" />
      <field name="OperateType" layout="${var:operateType}" bsonType="int" />
      <field name="Ip" layout="${var:ip}" bsonType="string" />
      <field name="Original" layout="${var:original}" bsonType="string" />
      <field name="Current" layout="${var:current}" bsonType="string" />
      <field name="Remark" layout="${var:remark}" bsonType="string" />
      <field name="OperatorId" layout="${var:operatorId}" bsonType="string" />
      <field name="Operator" layout=" ${var:operator}" bsonType="string" />
      <field name="Date" layout="${var:date}" bsonType="DateTime" />
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="allfile" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="ex.*" minlevel="Trace" writeTo="mongoException" />
    <logger name="visit.*" minlevel="Trace" writeTo="mongoVisit" />
    <logger name="operate.*" minlevel="Trace" writeTo="mongoOperate" />
    
    <logger name="visit.audit" minlevel="Trace" writeTo="visitAudit" />
    <logger name="ex.normal" minlevel="Trace" writeTo="mongoCustom" />
    <logger name="operate.manage" minlevel="Trace" writeTo="unHandledEx" />


  </rules>
</nlog>