<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\innlog\nloginner.txt">

  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>


  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target name="allfile" xsi:type="File" fileName="${basedir}/logs/all/nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target name="visitAudit" xsi:type="File" fileName="${basedir}/logs/visitAudit/nlog-visit-${shortdate}.log"
         layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target name="unHandledEx" xsi:type="File" fileName="${basedir}/logs/unHandledEx/nlog-unhandled-${shortdate}.log"
         layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="allfile" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="visitAudit" minlevel="Trace" writeTo="visitAudit" />
    <logger name="unHandledEx" minlevel="Trace" writeTo="unHandledEx" />
  </rules>
</nlog>