@{
    Layout = "_LayoutVue";
}

<div id="app">
    <el-button @@click="visible = true">按钮</el-button>
    <el-dialog v-model="visible" title="Hello world">
        <p>欢迎使用 Element</p>
    </el-dialog>
</div>

@section FootScripts{
      <!-- 先引入 Vue -->

<script>
    new Vue({
      el: '#app',
      data: function() {
        return { visible: false }
      }
    })
</script>
}