@using Evol.Common;
@using Evol.Web.Mvc.Html;
@using Evol.TMovie.Domain.Commands.Dto;
@model IPaged<CinemaViewModel>

@{
    ViewData["Title"] = "Cinema Index";
    var createValidRole = Html.VueValidateRoleFor<CinemaCreateDto>();//创建影院模型vue-validator验证规则
    var updateValidRole = Html.VueValidateRoleFor<CinemaUpdateDto>(); //更新影院模型vue-validator验证规则
}

@section Scripts{ 


<script>
    var vueValidRole = {
        cinemaCreate : @Html.Raw(createValidRole)
        ,cinemaUpdate : @Html.Raw(updateValidRole)

    };

    var apiUri = {
            pagedGet : '/api/cinema',
            createPost : '/api/cinema',
            updatePut : '/api/cinema',
            delete : '/api/cinema'
        };

    var vueApp = {};

    $(function () {

        vueApp = {
            table: new Vue({
                el: '#cinema-table',
                data: {
                }
            }),

            create: new Vue({
                el: '#cinema-create',
                data: {
                    rules: vueValidRole.cinemaCreate
                }
            }),

            update: new Vue({
                el: '#cinema-update',
                data: {
                    rules: vueValidRole.cinemaUpdate
                }
            })


        };

        $.getJSON(apiUri.pagedGet, function (json) {
            vueApp.table.data = json;
        });

    });
</script>
}


<section class="content-header">
    <h1>
        Cinema
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cinema</a></li>
    </ol>
</section>

@*@Html.Partial("~/Views/Cinema/dataTable.vue")*@

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            @Html.HtmlPartial("dataTable.vue")

            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<p>
    <a asp-action="Create">Create New</a>
</p>
