<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       autoReload="true"  
       throwExceptions="true"  
       internalLogFile="C:\innlog\nloginner.txt"  
       internalLogLevel="Warn"  >

  <targets>
    <target name="operLog" xsi:type="Database" connectionStringName="LogTestDbContext" >
      <!--
    Remarks:
      The appsetting layouts require the NLog.Extended assembly.
      The aspnet-* layouts require the NLog.Web assembly.
      The Application value is determined by an AppName appSetting in Web.config.
      The "NLogDb" connection string determines the database that NLog write to.
      The create dbo.Log script in the comment below must be manually executed.
    -->

      <commandText>
        Insert Into OperateLog (
        Id,
        Ip,
        OperatorId,
        OperAccount,
        OperBranch,
        OperType,
        OperRemark,
        MemberId,
        OriginalValue,
        ModifiedValue,
        ModelType,
        Action,
        SubAction,
        Business,
        Remark,
        CreateTime
        ) values (
        @Id,
        @Ip,
        @OperatorId,
        @OperAccount,
        @OperBranch,
        @OperType,
        @OperRemark,
        @MemberId,
        @OriginalValue,
        @ModifiedValue,
        @ModelType,
        @Action,
        @SubAction,
        @Business,
        @Remark,
        @CreateTime
        );
      </commandText>

      <parameter name="@Id" layout="${event-properties:item=Id}" />
      <parameter name="@Ip" layout="${event-properties:item=Ip}" />
      <parameter name="@OperatorId" layout="${event-properties:item=OperatorId}" />
      <parameter name="@OperAccount" layout="${event-properties:item=OperAccount}" />
      <parameter name="@OperBranch" layout="${event-properties:item=OperBranch}" />
      
      <parameter name="@OperType" layout="${event-properties:item=OperTypeIntVal}" />
      <parameter name="@OperRemark" layout="${event-properties:item=OperRemark}" />
      <parameter name="@MemberId" layout="${event-properties:item=MemberId}" />
      <parameter name="@OriginalValue" layout="${event-properties:item=OriginalValue}" />
      <parameter name="@ModifiedValue" layout="${event-properties:item=ModifiedValue}" />

      <parameter name="@ModelType" layout="${event-properties:item=ModelType}" />
      <parameter name="@Action" layout="${event-properties:item=ActionIntVal}" />
      <parameter name="@SubAction" layout="${event-properties:item=SubActionIntVal}" />
      <parameter name="@Business" layout="${event-properties:item=Business}" />
      <parameter name="@Remark" layout="${event-properties:item=Remark}" />
      
      <parameter name="@CreateTime" layout="${event-properties:item=CreateTime}" />


    </target>
  </targets>


  <rules>
    <logger name="operateLog" minlevel="Trace" writeTo="operLog" />
  </rules>
  
</nlog>