<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/innlog/nloginner.txt">

  <extensions>
    <add assembly="NLog.Mongo"/>
    <add assembly="NLog.Web"/>
  </extensions>


  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target name="allfile" xsi:type="File" fileName="${basedir}/logs/all/nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <!--记录访问日志到文件-->
    <target name="visitAudit" xsi:type="File" fileName="${basedir}/logs/visitAudit/nlog-visit-${shortdate}.log"
         layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}| " />

    <!--记录异常日志到文件-->
    <target name="unHandledEx" xsi:type="File" fileName="${basedir}/logs/unHandledEx/nlog-unhandled-${shortdate}.log"
         layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}|" />
    <target xsi:type="Null" name="blackhole" />

    <!--记录异常日志到MongoDB数据库-->
    <target name="mongoException" xsi:type="Mongo" includeDefaults="false" connectionString="mongodb://127.0.0.1"  collectionName="exceptionlog" databaseName="Logging"  cappedCollectionSize="26214400">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="ThreadId" layout="${threadid}" />
      <field name="ThreadName" layout="${threadName}" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="RequestUri" layout="${var:requestUri}" bsonType="string" />
      <field name="RequestPath" layout="${var:requestPath}" bsonType="string" />
      <field name="Exception" layout="${exception:format=tostring}" />
    </target>
    
    <!--记录访问审计日志到MongoDB数据库-->
    <target xsi:type="Mongo"
           name="mongoVisit"
           includeDefaults="false"
           connectionString="mongodb://127.0.0.1"
           collectionName="visitlog"
           databaseName="Logging"
           cappedCollectionSize="26214400">
      <field name="Id" layout="${var:Id}" bsonType="string" />
      <field name="Logger" layout="${logger}"/>
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="LBAppId" layout="${var:lbAppId}" bsonType="string" />
      <field name="HostAddr" layout="${var:host}" bsonType="string" />
      <field name="HostName" layout="${var:ip}" bsonType="string" />
      <field name="RemoteAddr" layout="${var:remoteAddr}" bsonType="string" />
      <field name="RequestPath" layout="${var:request}" bsonType="string" />
      <field name="RequestUri" layout="${var:requestUri}" bsonType="string" />
      <field name="Http" layout="${var:http}" bsonType="string" />
      <field name="Method" layout="${var:method}" bsonType="string" />
      <field name="ElapsedMs" layout="${var:elapsedMs}" bsonType="long" />

      <field name="UserAgent" layout="${var:userAgent}" bsonType="string" />
      <field name="User" layout="${var:user}" bsonType="string" />
      <field name="Time" layout="${date}" bsonType="DateTime" />
    </target>

    <!--记录操作日志到MongoDB数据库-->
    <target  name="mongoOperate" xsi:type="Mongo" includeDefaults="false" connectionString="mongodb://127.0.0.1" collectionName="operatelog" databaseName="Logging" cappedCollectionSize="26214400">
      <field name="Logger" layout="${logger}"/>
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="Id" layout="${var:id}" bsonType="int" />
      <field name="RemoteAddr" layout="${var:remoteAddr}" bsonType="string" />
      <field name="Host" layout="${var:host}" bsonType="string" />
      <field name="OperateType" layout="${var:operateType}" bsonType="int" />
      <field name="Original" layout="${var:original}" bsonType="string" />
      <field name="Current" layout="${var:current}" bsonType="string" />
      <field name="Remark" layout="${var:remark}" bsonType="string" />
      <field name="OperatorId" layout="${var:operatorId}" bsonType="string" />
      <field name="Operator" layout=" ${var:operator}" bsonType="string" />
      <field name="Time" layout="${date}" bsonType="DateTime" />
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="allfile" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <logger name="ex.*" minlevel="Trace" writeTo="mongoException" />
    <logger name="visit.*" minlevel="Trace" writeTo="mongoVisit" />
    <logger name="operate.*" minlevel="Trace" writeTo="mongoOperate" />
    
    <logger name="ex.unhand" minlevel="Trace" writeTo="unHandledEx" />
    <logger name="visit.audit" minlevel="Trace" writeTo="visitAudit" />
    <logger name="operate.manage" minlevel="Trace" writeTo="unHandledEx" />
  </rules>
</nlog>