@{
    ViewData["Title"] = "影院首页列表";
}

<div id="head-bar" class="row">
    <div class="col-xs-1">

    </div>
    <div class="col-xs-10">
        影院
    </div>

</div>
<div class="row cinema-item" onclick="javascrpt:window.location.href = '/Cinema/Schedule';" style=" border-top:1px solid #EAEAEA;  height:120px;margin: 10px 0 5px 0;">
    <div class="col-xs-12">
        <div class="name">杭州UME国际影城</div>
        <div class="min-price">28元起</div>
        <div class="addr">西湖区文一西路1000号西城广场4楼</div>
        <div class=" special">3D</div>
    </div>
</div>

<div class="row cinema-item" onclick="javascrpt:window.location.href = '/Cinema/Screening';" style=" border-top:1px solid #EAEAEA;  height:120px;margin: 10px 0 5px 0;">
    <div class="col-xs-12">
        <div class="name">杭州UME国际影城</div>
        <div class="min-price">28元起</div>
        <div class="addr">西湖区文一西路1000号西城广场4楼</div>
        <div class=" special">3D</div>
    </div>
</div>

<div class="row cinema-item" onclick="javascrpt:window.location.href = '/Cinema/Screening';" style=" border-top:1px solid #EAEAEA;  height:120px;margin: 10px 0 5px 0;">
    <div class="col-xs-12">
        <div class="name">杭州UME国际影城</div>
        <div class="min-price">28元起</div>
        <div class="addr">西湖区文一西路1000号西城广场4楼</div>
        <div class=" special">3D</div>
    </div>
</div>

<div class="row cinema-item" onclick="javascrpt:window.location.href = '/Cinema/Screening';" style=" border-top:1px solid #EAEAEA;  height:120px;margin: 10px 0 5px 0;">
    <div class="col-xs-12">
        <div class="name">杭州UME国际影城</div>
        <div class="min-price">28元起</div>
        <div class="addr">西湖区文一西路1000号西城广场4楼</div>
        <div class=" special">3D</div>
    </div>
</div>

<div class="row cinema-item" onclick="javascrpt:window.location.href = '/Cinema/Screening';" style=" border-top:1px solid #EAEAEA;  height:120px;margin: 10px 0 5px 0;">
    <div class="col-xs-12">
        <div class="name">杭州UME国际影城</div>
        <div class="min-price">28元起</div>
        <div class="addr">西湖区文一西路1000号西城广场4楼</div>
        <div class=" special">3D</div>
    </div>
</div>

<div class="row cinema-item" onclick="javascrpt:window.location.href = '/Cinema/Screening';" style=" border-top:1px solid #EAEAEA;  height:120px;margin: 10px 0 5px 0;">
    <div class="col-xs-12">
        <div class="name">杭州UME国际影城</div>
        <div class="min-price">28元起</div>
        <div class="addr">西湖区文一西路1000号西城广场4楼</div>
        <div class=" special">3D</div>
    </div>
</div>

