<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="yelpConnection" connectionString="Host=192.168.8.198;UserName=admin;Password=?super2016;Database=yelp_db;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="yelpConnection" value="Host=192.168.8.198;UserName=admin;Password=?super2016;Database=yelp_db;"  />
  </appSettings>
</configuration>