@{
    ViewData["Title"] = "";
}

<div id="head-bar" class="row">
    <div class="col-xs-1">

    </div>
    <div class="col-xs-10">
        杭州UME国际影城
    </div>

</div>

<div class="row cinema-item"  style=" border-top:1px solid #EAEAEA;  height:120px;margin: 10px 0 5px 0;">
    <div class="col-xs-12">
        <div class="name">杭州UME国际影城</div>
        <div class="min-price">28元起</div>
        <div class="addr">西湖区文一西路1000号西城广场4楼</div>
        <div class=" special">3D</div>
    </div>
</div>

<div class="swiper-container" style="height:auto; margin:10px 0; background-color:slategrey;">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="~/images/ckxt.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/gkek.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/gkek.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/szx.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/xqjq3.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/xsj2003.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/ckxt.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/gkek.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/ckxt.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/gkek.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/gkek.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/szx.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/xqjq3.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/xsj2003.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/ckxt.jpg" class="main-img"></div>
        <div class="swiper-slide"><img src="~/images/gkek.jpg" class="main-img"></div>
    </div>


</div>
<div class="swiper-pagination" id="pagination"></div>


@section Styles{

<link href="~/css/swiper.min.css" rel="stylesheet" />
<link href="~/css/swiper.cinema.css" rel="stylesheet" />

}

@section Scripts{
 
<script src="~/js/swiper.min.js"></script>
<script src="~/js/swiper-cinema.js"></script>

}